.Header {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000000;
    font-size: 3vmin;
    color: #ffffff;
    margin-bottom: 3%;
  }

  .Header-title {
      font-family: 'Lucida Handwriting','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .Header-link {
      color: white;
      padding-right: 20px;
  }

  .Header-link:focus {
      color: rgb(104, 104, 104);
  }